build/
install/
__pycache__/
*pyc
.vscode/
*.swp
.DS_Store

# C++ Derleme Çıktıları ve Geçici Dosyalar
*.o
*.out
a.out

# Linux / Derleme binary çıktıları
hw1
main
/tasks/hw1/*/*
!/tasks/hw1/*/*.cpp
!/tasks/hw1/*/*.txt
!/tasks/hw1/*/*.md
